*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/
null

# Testbench
PC_Testbench/test_data/
PC_Testbench/build/

# Vitis
vitis_*
*/.metadata/
# Vitis by https://github.com/Xilinx/Vitis_Accel_Examples/blob/master/.gitignore
*.jou
profile_summary.html
profile_summary.csv
_v++_*/
.Xil/
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp

# Vivado by 
#########
#Exclude all
#########
FPGA/audio_station/*
!FPGA/audio_station/*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

